numpy
pandas
lyricsgenius
spotipy
tqdm
nltk
gensim
scipy
sparqlwrapper
pymongo
abydos
wordfreq
matplotlib
networkx
flask
Flask-Session
Werkzeug==0.16.0
musicbrainzngs
python-telegram-bot==6.1.0
python-dotenv
profanity