{% extends "base.html" %}

{% block title %}User trial{% endblock %}

{% block imports %}
{% endblock %}

{% block style %}
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
<div class="card text-center">
    <div class="card-header">
        <h4>Outro</h4>
    </div>
    <div class="card-body">

        <p>
        <h5>The survey is over.
        </h5>
        </p>

        <p>
        <h5>
            Thanks a million for your time!! :)
        </h5>
        </p>

    </div>
</div>

{% endblock %}